body {
    background-color: aliceblue;
}

p {
    font-size: 20px;
    color:rgb(46, 77, 46);
}

h5 {
    color: rgb(59, 99, 59);
    text-decoration: underline;
    font-size: 30px;
}

.carousel-item img {
    object-fit: cover;
    height: 500px;
}

.card {
    margin: 1rem;
}

.btn {
    border-radius: 10rem;
    background-color: rgb(59, 99, 59);
    border-color: rgb(46, 77, 46);
}

.logo {
    width: 2rem;
}

